*{
  font-family: Rubik,sans-serif;
  scroll-behavior: smooth;
  list-style-type: none;
  }
  .content{
    padding: 10em 1em 0 1em;
  }
  ul li::before {
    color: blue;
    font-weight: 900;
    width: 1em;
   }

  @media(max-width:400px){
    *{
    font-size: small;
    }
  }