.shopet{
    width: 6em;
    height:6em;
}

nav{
    position: fixed !important;
    width:100%;
    z-index: 1000;
    padding-bottom: 500px;
}
.form{
    position: fixed;
    top: 20vh;
    width: 100%;
    height: 80vh;
    z-index: 2000;
    background-color: white;
}