*{
  font-family: Rubik,sans-serif;
  }

  .content{
    padding: 0 10%;
  }
  ul li::before {
    color: blue;
    font-weight: 900;
    width: 1em;
   }

  @media(max-width:400px){
    *{
    font-size: small;
    }
  }